# Java crash logs
hs_err_pid*
replay_pid*

# Logs
*.log

# Videos
*.mp4

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Environment variables
.env

uploads/
Backend/hvault-backend/uploads/

details.docx

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Java build
target/

# Frontend builds
dist/

# Local uploads
uploads/
Backend/hvault-backend/uploads/